[Unit]
Description=HydraIP rtp/udp video server
Before=atm.service

[Service]
ExecStartPre=/usr/sbin/fbset -fb /dev/fb1 -g 1280 800 1280 2400 32
ExecStartPre=/bin/bash -c "/bin/echo 0 > /sys/class/graphics/fb1/blank"
ExecStart=/usr/bin/hydraudp --server --version
ExecStop=/usr/bin/hydraudp

# I would recommend a restart limit with system fail detection to restart the system on serious hardware/software problems.
Restart=always

[Install]
WantedBy=multi-user.target
