[Unit]
Description=Starts Psplash Boot screen
Before=swap.target                                                                 
DefaultDependencies=no                                                                  
                                                               
[Service]                                                      
ExecStart=/usr/bin/psplash                                     
                          
[Install]                 
WantedBy=slices.target